.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-title{
    text-align: center;
    color: #656565;
}

p{
    color: #656565;
}

.col-md-6{
    margin-left:0px;
    margin-right:0px;
    padding-left:1.2px;
    padding-right:1.2px;
}

.col-sm-12{
    margin-left:0px;
    margin-right:0px;
    padding-left:1.2px;
    padding-right:1.2px;
}
