.selection{
    margin-bottom:0.75rem;
    color:#929292;
}

.dropdown{
    width:30%;
    color: #929292;
    border-radius: 5%;
}

.row{
    margin:auto;
}

.card1{
    width: 100rem; 
    margin-top: 1%;
}

.card2{
    width: 40rem; 
    margin-top: 8%;
}

.zipcode{
    margin-left:2.4px;
}

#myMap{
    width:100%;
    height: 600px;
    margin-left: 5px;
}

.modifyButtons{
    display: flex;
}

#editPage{
    display:none;
}

@media only screen and (max-width: 200px) {
    .stateClass{
        margin-bottom:14px;
    }
    .dropdown{
        margin-bottom:14px;

    }
}

.shifted{
    margin-left: 1.2px;
}

i{			
    width:15px;
}

.iconClass{
    margin-right:3px;
}

table{
    zoom:75%;
}

th{
    color: #656565;
}
tr>td{
    cursor:pointer;
    color: #656565;
}

.listEmpty{
    margin-bottom:50px;
}

.searchBox > .col-md-3{
    margin-left:0px;
    margin-right:0px;
    padding-left:2.6px;
    padding-right:2.6px;
}

.searchBox > .col-sm-6{
    margin-left:0px;
    margin-right:0px;
    padding-left:2.6px;
    padding-right:2.6px;
}



