<!DOCTYPE html>
<html>
<head>
    <title>
        Confirmation
    </title>
    <style>
        .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }
        .card-title{
            text-align: center;
            color: #404040;
        }
        p{
            color: #656565;
            padding-bottom:0.1px;
        }
        h5{
            padding-bottom:15px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="mailer">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT1mojRZxGhiWlFYCAXKRmzh9Y7FiS_DV_g&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="">
            ContactBook
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="mailer">Home</a>
            <a class="nav-item nav-link" href="contacts">Contacts</a>
          </div>
        </div>
        <form class="form-inline">
            <button onclick="location.href='login'" type="button" class="btn btn-outline-info my-2 my-sm-0">Log In</button>
        </form>
    </nav>
    
    <div class="container">  
        <div class="row justify-content-md-center">
            <div class="card" style="width: 40rem; margin-top: 8%">
                <div class="card-body">
                    <h5 class="card-title">Contact Information Submitted</h5>
                    <% for (v in value) {  %>
                        <p>
                            <% if (v != "_id") {%>
                                <b><%= v %>:</b> <%= value[v] %>
                            <%} %>
                        </p>
                    <% } %>  
                    <div class="input-group mb-3">
                        <button onclick="location.href='mailer'" type="button" class="btn btn-info">Add Contacts Again</button>
                    </div> 
                </div>
            </div> 
        </div>
    </div>   
</body>
</html>