<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Log In</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
        .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }
        .card-title{
            text-align: center;
            color: #656565;
			padding-bottom: 20px;
        }
		button{
			width: 100%;
			margin-top:20px;
		}
    </style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="mailer">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeT1mojRZxGhiWlFYCAXKRmzh9Y7FiS_DV_g&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="">
            ContactBook
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="mailer">Create Contact</a>
            <a class="nav-item nav-link" href="contacts">Contacts</a>
          </div>
        </div>
        <form class="form-inline">
            <button onclick="location.href='login'" type="button" class="btn btn-outline-info  my-2 my-sm-0">Log In</button>
        </form>
    </nav>
	<div class="container">  
        <div class="row justify-content-md-center">
            <div class="card" style="width: 20rem; margin-top: 8%">
                <div class="card-body" id="myalert">
					<div class="alert alert-danger" role="alert">
						Log In Failed!! Please Try Again.
					</div>
					<h5 class="card-title">Log In</h5>
                        <form method="post" action="/login">
							<div class="input-group mb-3">
                                <input type="text" id="username" name="username" value="" required class="form-control" placeholder="Username">  &nbsp;
                            </div>
							<div class="input-group mb-3">
                                <input type="password" id="password" name="password" value="" required class="form-control" placeholder="Password">  &nbsp;
                            </div>
							<button type="submit" class="btn btn-info">Login</button>
						</form>
			</div>

		</form>

	</div>
</body>
<script>
	setTimeout(()=>{
		document.getElementById('myalert').childNodes[1].remove();
	}, 2000);
</script>
</html>